<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Deadpool Challenges</title>
    <% include common_css_includes.ejs %>
    <link rel="stylesheet" href="/css/challenges.css" type="text/css">
</head>
<body>
<!--<div>-->
<!--<%= user.displayName %>-->
<!--</div>-->


<div class="menu">
    <div class="row">
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel sprint">
            <div class="hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
    </div>

    <div class="row">
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel code-challenges">
            <div class="hover"></div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel personal">
            <div class="hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel">
            <div class="no-hover"></div>
        </div>
        <div class="panel history">
            <div class="hover"></div>
        </div>
    </div>
</div>

<% include common_javascript_includes %>
<script src="/js/challenges.js"></script>

</body>
</html>