<!doctype html>
<html>
<head>
    <title>FAQ</title>
    <% include common_css_includes.ejs %>
</head>
<body>
<div class="container">
    <div class="well">
        <h1>FAQ</h1>
        How to...
    </div>

</div>
<footer class="text-center">
    <a href="/"><button type="button" class="btn btn-info btn-lg">Login page</button></a>
</footer>
</body>
</html>