<div id="highscoreModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">
                    <ul class="nav nav-pills">
                        <li role="presentation"><a href="#show-all">Show all</a></li>
                        <li role="presentation"><a href="#quiz-scores">Quiz scores</a></li>
                        <li role="presentation"><a href="#own-scores">Own scores</a></li>
                    </ul>
                </h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
        </div>
    </div>
</div>