<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link rel="stylesheet" href="css/highscore.css" type="text/css">
<script src="js/highscore.js"></script>
<h2 id="highscoreContainer" class="highscore-container"></h2>
