<div id="highscoreModal" class="modal fade in">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">
                    <ul class="nav nav-pills">
                        <li role="presentation" class="<% if (title == "all") { %>active<% } %>">
                            <a href="#show-all"
                               data-request="all">Show all</a></li>
                        <li role="presentation" class="<% if (title == "own") { %>active<% } %>">
                            <a href="#own-scores"
                               data-request="own">Own scores</a></li>
                    </ul>
                </h4>
            </div>
            <div id="hsBody" class="modal-body">
            </div>
        </div>
    </div>
    <script>
        Quizzes.scores = {
            users: [], quizNames: [], dates: [], scores: []
        };
        <% scores.forEach(function (score) { %>
        Quizzes.scores.users.push("<%= score.user %>");
        Quizzes.scores.quizNames.push("<%= score.quizName %>");
        Quizzes.scores.dates.push("<%= (score.date.toString().slice(11, 16) + score.date.toString().slice(4, 10)) %>");
        Quizzes.scores.scores.push(<%= Math.round(score.score * 100) / 100 %>);
        <% }); %>
        google.charts.setOnLoadCallback(Quizzes.drawTables);
    </script>
</div>

