<link rel="stylesheet" href="css/interstitial.css" type="text/css">
<span class="interstitial-container">
    <video autoplay="autoplay" loop="loop" width="400" height="300" class="loader hidden">
        <source src="\video\assets\Loaderv2.mp4" type="video/mp4" />
    </video>

    <div class="interstitial-mask hidden"></div>
</span>
