<div id="manageSavedQuizModal" class="modal fade in">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">
                    Manage your quiz
                </h4>
            </div>
            <div class="modal-body">
                <textarea class="manage-saved-quiz"></textarea>
                <button type="button" class="pull-right update-saved-quiz btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>