<!doctype html>
<html>
<head>
    <title>Sprint</title>
    <% include common_css_includes.ejs %>
</head>
<body>
<div class="container">
    <div class="well">
        <h1><%= user.displayName %></h1>
        <h1><%= user.role %></h1>
        <h1><%= user.team %></h1>
    </div>

</div>
</body>
</html>