body {
    padding-top: 80px;
    word-wrap: break-word;
}

.well-info {
    background: #5BC0DE;
}

.well-data-list {
    background-color: darkturquoise;
}

.well-profile {
    background-color: powderblue;
}

.twitter-photo {
    position: relative;
    float: right;
}